traefik:
  image:
    registry: {{ (api_gateway_service.traefik.image_registry | default(private_image_registry_prefix)) | quote }}
    repository: {{ (api_gateway_service.traefik.image_repository | default('thirdparty/traefik')) | quote }}
    tag: {{ (api_gateway_service.traefik.image_tag | default('v3.6.13')) | quote }}
    pullPolicy: IfNotPresent
  service:
    enabled: true
    type: ClusterIP
  hostNetwork: false
  ingressClass:
    enabled: true
    isDefaultClass: true
    name: traefik
  providers:
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true
      ingressClass: traefik
      namespaces: []
    kubernetesIngress:
      enabled: false
  ports:
    web:
      port: 8000
      hostPort: 80
      expose:
        default: true
      exposedPort: 80
      protocol: TCP
    websecure:
      expose:
        default: false

auth:
  enabled: true
  tokenToXUser:
    enabled: true
    userinfoUrl: "http://auth-service-auth-service.{{ deployment_namespace }}.svc.cluster.local/api/auth_service/v1/realms/master/protocol/openid-connect/userinfo"
